{
  "presets": [
    [
      "@babel/preset-env",
      {
        // 按需加载
        "useBuiltIns": "usage",
        "corejs": "3",
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        }
      }
    ]
  ]
}
